.login__page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dash-blue);
    position: relative;
}

.login__page__container {
    width: 900px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.login__left__container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/images/admin__login__left__box.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--white);
    border-radius: 50px 0 0 50px;
}

.login__container {
    width: 50%;
    height: 100%;
    display: flex;
    background-color: var(--gray-main);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 50px 50px 0;
    padding: 20px;
}

.login__form__header__container {
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__header__img {
    width: 250px;
    height: 90px;
    object-fit: contain;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__form__container {
    width: 100%;
    padding: 35px;
    background-color: var(--gray-main);
    margin: 0 0 20px 0;
}

.login__form__group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
    position: relative;
}

.form__input {
    background-color: var(--ligth-gray);
    border: 1px solid var(--gray-border);
    padding: 12px;
    border-radius: 0 3px 3px 0;
    font-family: var(--font-Noto-Sans-Georgian);
}

.auth__btn {
    background-color: var(--dash-blue);
    color: var(--white);
    border-radius: 5px;
    text-align: center;
    margin: 15px 0;
    border: none;
    cursor: pointer;
    font-family: var(--font-Noto-Sans-Georgian);
    font-weight: bold;
    padding: 15px;
    font-size: 16px;
}

input:focus {
    outline: none;
}

#eye {
    position: absolute;
    right: 15px;
    bottom: 15px;
    font-size: 20px;
    cursor: pointer;
    color: lightgray;
}

.input__with__icon__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.input__icon__container {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dash-blue);
}

.input__icon {
    font-size: 25px;
    color: var(--white);
}

.input__with__icon {
    width: calc(100% - 50px);
}

.login__error__container{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 10px 0;
}

.login__error{
    color: var(--delete);
    font-size: 12px;
    font-weight: bold;
    font-family: var(--font-Noto-Sans-Georgian);
}
.login__info{
    color: var(--green-btn);
    font-size: 12px;
    font-weight: bold;
    font-family: var(--font-Noto-Sans-Georgian);
}
.registration__btn {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 50px;
    width: 150px;
}
.registration__btn a {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    color: var(--dash-blue);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
