.home__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--gray-main);
}
.user__container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 150px;
    width: 300px;
    background-color: var(--dash-blue-box);
    margin:30px;
}
.user__container a{
    color: var(--dash-blue);
    font-weight: bolder;
    font-size: 24px;
    text-align: center;
}
.room__container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 150px;
    width: 300px;
    background-color: var(--dash-orange-box);
    margin:30px;
}
.room__container a{
    color: var(--dash-orange);
    font-weight: bolder;
    font-size: 24px;
    text-align: center;
}

.admin__container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 150px;
    width: 300px;
    background-color: var(--green-dark);
    margin:30px;
}
.admin__container a{
    color: var(--white);
    font-weight: bolder;
    font-size: 24px;
    text-align: center;
}
